# Ignore Python cache
__pycache__/
*.pyc

# Ignore Streamlit secrets (with exception for the example file)
.streamlit/secrets.toml
!.streamlit/secrets.toml.example

# Ignore environment variables files
.env

# Ignore general system files
.DS_Store
Thumbs.db

# Ignore virtual environments
venv/
.env/
.venv/

# Ignore output folders (if any)
output/
build/
dist/

# Ignore logs
*.log
