# Auto detect text files and perform LF normalization
* text=auto

# Python files always use LF
*.py text eol=lf
*.pyw text eol=lf

# Batch files use CRLF
*.bat text eol=crlf
*.cmd text eol=crlf

# Shell scripts use LF
*.sh text eol=lf
